<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="permission">
        <id column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="sort" property="sort"/>
        <result column="url" property="url"/>
        <result column="perm_code" property="permCode"/>
        <result column="icon" property="icon"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="BaseColumn">
        id,
        pid,
        name,
        type,
        sort,
        url,
        perm_code,
        icon,
        description,
        status,
        create_time,
        update_time
    </sql>

    <!-- 查询父菜单 -->
    <select id="findParentMenu" resultMap="BaseResultMap">
        SELECT
          <include refid="BaseColumn"/>
        from t_permission
        WHERE id in
              (
                  select pid
                  from t_role_permission
                  WHERE rid in
                        (
                            select rid
                            from t_user_role
                                     INNER JOIN t_role on t_user_role.rid = t_role.id
                            where uid = #{uid}
                              and status = 1
                        )
              )
          and status = 1
          and type = 0
    </select>

    <!-- 查询子菜单 -->
    <select id="findSubMenu" resultMap="BaseResultMap">
        SELECT
          <include refid="BaseColumn"/>
        from t_permission
        WHERE id in
              (
                  select pid
                  from t_role_permission
                  WHERE rid in
                        (
                            select rid
                            from t_user_role
                                     INNER JOIN t_role on t_user_role.rid = t_role.id
                            where uid = #{uid}
                              and status = 1
                        )
              )
          and status = 1
          and type = 1
          and pid = #{pid}
    </select>

    <select id="findUserPermission" resultMap="BaseResultMap">
        SELECT
          <include refid="BaseColumn"/>
        from t_permission
        WHERE id in
              (
                  select pid
                  from t_role_permission
                  WHERE rid in
                        (
                            select ur.rid
                            from t_user_role as ur
                            INNER JOIN t_role as r on ur.rid = r.id
                            where ur.uid = #{uid}
                              and r.status = 1
                        )
              )
          and status = 1
          and type in (1, 2)
    </select>

</mapper>
